<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
     <meta name="socket_server" content="http://node_share/">
    <title>@(TITLE)</title>
    <link rel="stylesheet" type="text/css" href="@(WEB_ROOT)/assets/tag_style.css@(NO_CACHE)" />
    <link rel="stylesheet" type="text/css" href="@(WEB_ROOT)/assets/calendar.css@(NO_CACHE)" />
    <link rel="stylesheet" type="text/css" href="@(WEB_ROOT)/assets/modaal.min.css@(NO_CACHE)" />
    <link rel="stylesheet" type="text/css" href="@(WEB_ROOT)/assets/simple-grid.css" />
    <link rel="stylesheet" type="text/css" href="@(WEB_ROOT)/assets/monogusa.css@(NO_CACHE)" />
    <!--<link rel="stylesheet" type="text/css" href="@(WEB_ROOT)/assets/monogusa_color_white.css@(NO_CACHE)" />-->
    <link rel="stylesheet" type="text/css" href="@(WEB_ROOT)/assets/monogusa_color_white.css@(NO_CACHE)" />

    <style>
      @place('css')
    </style>

    @(HEAD)
  </head>
  <body>
    <!-- header -->
    @parts('header')

    <!-- loading -->
    @parts('loading')

    <!-- Page View -->
    <div id="page_contents">
      <div class="container" style="padding:5px 3px;width: calc(100% - 8px)">
        <div class="row">
          <div class="col-12">

              @place('content')

          </div><!-- col -->
        </div>
      </div>

      <div class="pb100">&nbsp;</div>
    </div>

  </body>
<script src="@(WEB_ROOT)/assets/jquery-3.1.1.min.js"></script>
<script src="@(WEB_ROOT)/assets/jquery.minicalendar.js@(NO_CACHE)"></script>
<script src="@(WEB_ROOT)/assets/modaal.min.js"></script>
<script src="@(WEB_ROOT)/assets/monogusa.js"></script>
<script>
  var SERVER = '@(WEB_ROOT)';
  var _TOKEN = '@(TOKEN)';

  @place('js')

</script>
</html>
