@load_master('base')
@css
/* css style */
@endcss

<!-- body -->
    <!-- main -->
    <div id="contents">

      <!-- form -->
      <h2 class="page_group_title mt40">フォーム</h2>
      <label class="form-label">見出し</label>
      <input id="code" type="text" class="form-text" placeholder="プレイスホルダー">
      <button class="btn" onclick="supportStart();">ボタン</button>

      @(test)

    </div><!-- contents -->
<!-- body -->

@js
@endjs
