
.select_tag {
    margin-top:10px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;

    background-color:#fff;
}

.static {
    background-color:#fff;
    padding-top:20px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
}

header {
  background: #fff url(../img/noise.png);
  padding-top:10px;
  padding-bottom:10px;
}
.blog_title {
    font-size:45px;
    color:#fff;
    font-weight:bold;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:10px;
    cursor:pointer;
}
.menu {
  background-color:#554738;
  color:#fff;
  padding-left:10px;
  padding-top:9px;
}
.menu-one {
    margin-right:10px;
}

.pre_program {
  color: #333;
  background-color: #f9f9f9;
  padding: 3px;
  font-size: 12px;
  border: 1px solid #000;
}
.pre_command {
  color: #ddd;
  background-color: #666;
  border: 1px solid #000;
  padding: 3px;
  font-size: 12px;
}

.now_loading {
    display:none;
    text-align:center;
    background-color:#f7f6f1;
    padding-bottom:45px;
    padding-top:40px;
    padding-left:25px;
    padding-right:25px;
}
.posts_box {
    background-color:#f7f6f1;
    padding-bottom:35px;
    padding-top:30px;
    padding-left:25px;
    padding-right:25px;
}
.posts_title {
    padding-bottom:18px;
    font-size:22px;
    font-weight:bold;
    text-decoration: underline;
    cursor:pointer;
}
.posts_body {
    font-size:16px;
    padding-bottom:20px;
    padding-left:2px;
    padding-right:2px;
}
.comment_box {
    background-color:#f7f6f1;
    padding-bottom:35px;
    padding-top:30px;
    padding-left:25px;
    padding-right:25px;
}
.comment_caption {
    display:inline-block;
    width:120px;
}
.simple {
}
.layout_header {
  background-color:#fff;
  color:#333;
}
.tag_box {
  padding-top:10px;
}
.tag {
    text-decoration:none;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:5px;
    padding-right:5px;
    border-radius:6px;
    border:solid 1px #392;
    background-color:#392;
    font-size:12px;
    color:#fff;
  display:inline-block;
  margin-right:10px;
  cursor:pointer;
}

.button {
  display:inline-block;
  text-decoration: none;
  overflow:hidden;
}

.button a {
  display: block;
  color: #FFF;
  text-decoration: none;
}

.button a:hover {
  display: block;
  color: #ddd;
  text-decoration: none;
}

input[type='text'],input[type='password'],input[type='number']{
  width:150px;
  padding:4px 2px;
  border:1px #bbb solid;
  outline: none;
  margin-bottom:2px;
  color:#000;
  background-color:#fdfdfd;
}

textarea{
  color:#000;
  border:1px #bbb solid;
  padding:4px 2px;
  width:300px;
  height:150px;
  background-color:#fdfdfd;
}

input[type='button'],input[type='submit']{
  color:#000;
  border:none;
  cursor:pointer;
  padding:5px;
}

.table_of_contents {
  font-size:12px;
}
