/* tag */
* {
  padding:0px;
  margin:0px;
  /*font-family: 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;*/
  font-size: 19px;
  color: #505050;
}
a {
  font-weight: bold;
}
ol li {
  margin-left: 30px;
  margin-top: 5px;
  padding:5px 10px 0;
  font-size: 15px;
  font-weight: bold;
}
p {
  padding:5px 10px 0;
  font-size: 15px;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4 {
  font-size: 14px;
}

pre, code, var, samp, kbd, .mono {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 14px;
    line-height: 1.3;
}
pre {
    padding: 12px;
    overflow: auto;
}

/* class */
.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 38px;
  line-height: 38px;
}
#page_contents {
  position: relative;
  top: 38px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 8px;
}
@media only screen and (max-width: 50em) {  /* 800px */
    .title {
      font-size: 18px;
      margin-left:0px;
    }
}
.title-link {
  display:inline-block;
  cursor:pointer;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  vertical-align: center;
}
.menu-trigger {
  width: 40px;
  height: 24px;
}
.menu-trigger span {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 2px;
}
.menu-trigger span:nth-of-type(1) {
  top: 11px;
}
.menu-trigger span:nth-of-type(2) {
  top: 17px;
}
.menu-trigger span:nth-of-type(3) {
  top: 23px;
}
.close-row {
  cursor:pointer;
  display:inline-block;
  height:32px;
  width:32px;
  float:right;
}
.close.icon {
  position: absolute;
  margin-top: 0;
}
.close.icon:before {
  content: '';
  position: absolute;
  top: 20px;
  width: 32px;
  height: 3px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.close.icon:after {
  content: '';
  position: absolute;
  top: 20px;
  width: 32px;
  height: 3px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#spMenuList {
  margin-top: 38px;
  overflow: auto;
  height: calc(100% - 38px);
}
.menu_group {
    padding: 2px 2px 2px 10px;
    font-size: 22px;
    font-weight: normal;
}
.open_close {
  cursor: pointer;
}
.page_title {
  padding: 4px 12px;
  border-left: solid 5px #8d5496;
  margin-bottom:5px;
}
.page_group_title {
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  line-height: 1.3;
}
.caption {
padding-left: 10px;
font-size: 18px;
border-bottom: dashed 2px #999;
}
.page_link {
  display:block;
  padding :5px 5px 5px 15px;
  text-decoration: none;
  /* border-bottom : 1px dashed #CBC4BA; */
  font-weight: normal;
}
#menu {
  width: 280px;
}
#menu p, #sp-menu p {
  padding:0 0;
}
.show-menu {
  float:left;
}
#overlayMenu {
    display:none;
    position: fixed;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#sp-menu {
  width:300px;
  height: 100%;
  z-index: 101;
  position: fixed;
}

/* margin-bottom */
.mb100 {

}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.taj {
  text-align: justify;
}

.form-text {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}
.form-label {
  width: 130px;
}
.btn-blue {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    background: #fff;
    transition: .4s;
    cursor: pointer;
}
.btn-blue:hover {
    background: #67c5ff;
    color: white;
}
.btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    border: solid 2px #aaa;
    border-radius: 3px;
    background: #fff;
    transition: .4s;
    cursor: pointer;
}
.btn:hover {
    background: #eee;
}
.good_button {
    color: #1793b6;
    font-weight: bold;
    border: none;
    background: #fff;
    cursor: pointer;
}
.good_count {
    color: #1793b6;
    font-weight: normal;
    background: #fff;
    float: right;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #33aa33;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  background-color: #33ff33;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  background-color: #33dd33;
}
.spinner .bounce3 {
  background-color: #33aa33;
}

.alert {
  position: fixed;
  z-index:200;
  color: #fff;
  width: 100%;
}
#alertMessage {
  color: #fff;
  padding:4px;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.select_list a {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #80CBC4;/*左線*/
  color: #009688;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  cursor: pointer;
  margin-right: 10px;
  margin-top: 15px;
}
.select_list a:active {/*押したとき*/
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
dl.search{
position:relative;
background-color:#fff;
border:1px solid #aaa;
-webkit-border-radius:6px;
-moz-border-radius:6px;
-o-border-radius:6px;
-ms-border-radius:6px;
border-radius:6px;
}
dl.search dt{
  margin-right:40px;
  padding:1px 0 1px 8px;
}
dl.search dt input{
width:100%;
height:23px;
line-height:23px;
background:none;
border:none;
}
dl.search dd{
position:absolute;
top:0;
right:0;
}
dl.search dd button{
display:block;
padding:10px;
background:none;
border:none;
cursor:pointer;
}
dl.search dd button span{
margin-top: -3px;
display:block;
width:20px;
height:20px;
background:url('searches.png') no-repeat scroll -69px 0;
}
.dsp_n {display: none;}

/* ↓loading↓ */
#loading{
position: absolute;
left: 50%;
top: 30%;
}

#loader-bg {
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background: #FFF;
z-index: 1;
opacity: 0.5;
}

#main-contents{
text-align: center;
margin-top: 20%;
}
/* ↑loading↑ */

.fs48 {font-size: 48px;}
.fs42 {font-size: 42px;}
.fs38 {font-size: 38px;}
.fs36 {font-size: 36px;}
.fs34 {font-size: 34px;}
.fs32 {font-size: 32px;}
.fs30 {font-size: 30px;}
.fs20 {font-size: 20px;}
.fs18 {font-size: 18px;}

.pb100 {padding-bottom: 100px;}
.pb20 {padding-bottom: 20px;}

.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.bgBlack {background-color: #000}
.bgGray {background-color: #ddd}
