<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="@(REQUEST_URL)" property="og:url" />
    @(META)
    <title>@(TITLE)</title>
    <style>
    /* latin-ext */
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      src: local('Lato Regular'), local('Lato-Regular'), url(@(WEB_ROOT)/assets/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
      unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      src: local('Lato Regular'), local('Lato-Regular'), url(@(WEB_ROOT)/assets/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="@(WEB_ROOT)/assets/css/monogusa.css@(NO_CACHE)" />
    <style>
      @place('css')
    </style>
    @(HEAD)
  </head>
  <body>
    @{if(LOGIN_FLG)}
    <div>ログイン</div>
    @{endif}
    <!-- main -->
    @place('content')
  </body>
<script src="@(WEB_ROOT)/assets/js/jquery-3.1.1.min.js"></script>
<script src="@(WEB_ROOT)/assets/js/monogusa.js@(NO_CACHE)"></script>
<script src="@(WEB_ROOT)/assets/js/common.js@(NO_CACHE)"></script>
<script>
  var SERVER = '@(WEB_ROOT)';
  var _TOKEN = '@(TOKEN)';
  @place('js')
</script>
</html>
